{% extends 'network/layout.html' %}

{% block body %}
  <h1>All Posts</h1>
  {% if user.is_authenticated %}
    <form action="{% url 'network:posts/new' %}" method="post" id="postForm">
      {% csrf_token %}
      <div class="border border-gray p-4">
        <label for="post_body" class="form-label fs-3 fw-bold">New Post</label>
        {{ form.post_body }}
        <input type="submit" value="Post" class="btn btn-primary" />
        <p class="text-danger" id="post_errors"></p>
      </div>
    </form>
  {% endif %}
  <div class="border border-gray p-4 my-2">
    <h3>Post User</h3>
    <a href="#">Edit</a>
    <p>post body</p>
    <p>post timestamp</p>
    <p>
      <i class="fa-regular fa-heart pe-auto"></i>number
    </p>
    <a href="#">comment</a>
  </div>
{% endblock %}
