{% extends 'network/layout.html' %}

{% block body %}
  <h1>All Posts</h1>
  {% if user.is_authenticated %}
    {% comment %}TODO: Add a form action{% endcomment %}
    <form action="" method="post">
      <div class="border border-gray p-4">
        <label for="post_body" class="form-label fs-3 fw-bold">New Post</label>
        <textarea name="post_body" id="post_body" class="form-control mb-1"></textarea>
        <input type="submit" value="Post" class="btn btn-primary" />
      </div>
    </form>
  {% endif %}
  <div class="border border-gray p-4 my-2">
    <h3>Post User</h3>
    <a href="#">Edit</a>
    <p>post body</p>
    <p>post timestamp</p>
    <p>
      <i class="fa-regular fa-heart pe-auto"></i>number
    </p>
    <a href="#">comment</a>
  </div>
{% endblock %}
